<div class="photo">
  <%= image_tag @post.photo %>
</div>

<div class="title">
  <h2><%= @post.title %></h2>
</div>

<div class="author">
  Postado por <strong><%= @post.user.email %></strong>
</div>
